body {
    overflow:hidden;
}

.fill_parent {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.fill {
    flex: 1 0 10px;
}

.popover__content .extra {
    border-top: 1px solid rgba(0,0,0,.05);
}
.popover__content .content {
    padding: 15px;
    word-wrap: break-word;
}
.popover__content a,
.popover__content p,
.popover__content div {
    user-select: text;
}
.popover__content .content > .head {
    font-weight: 700;
    font-size: 18px;
}
.popover__content .content > .head a {
    text-decoration: none;
}
.popover__content .content > .head a:hover {
    text-decoration: underline;
}
.popover__content .content > .sub {
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}
.popover__content .content > .body {
    font-size: 16px;
}
.popover__content .content > .thumb {
    display: inline-block;
    vertical-align: middle;
}
.popover__content .content a {
    color: rgb(0, 0, 0);
}
.popover__content .content .button {
    margin: 3px;
    font-size: 14px;
}

/* MainPage */
.main_modal .versions_text {
    margin: 30px;
}
.main_modal p {
    margin: 5px;
}
.main_modal p span {
    margin: 15px;
}


#main_toolbar .center {
	display: flex;
	justify-content: center;
}

.drop_area {
    border-radius: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(90, 90, 90);
}
.drop_area ons-icon.ion-link {
    font-size: 50px;
}
.drop_area ons-icon.ion-chevron-down {
    font-size: 20px;
}
.drop_area p {
    font-size: 20px;
}


/* Main Frame Toolbar */
#main_toolbar > .toolbar__left {
    width: 75px;
}
#main_toolbar > .toolbar__center {
    width: calc(100% - 150px);
}
#main_toolbar > .toolbar__right {
    width: 75px;
    padding: 5px 0px;
}
#main_toolbar > .toolbar__right > p {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
#main_toolbar .right_count_icon {
    width: 18px;
    text-align: center;
}
#main_frame_toolbar_center {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.broad_info_pop .content > .head {
    margin-bottom: 15px;
}
.broad_info_pop .content .desc {
    font-size: 13px;
    color: rgba(0,0,0,0.8);
}


/* Comment List */
.comment {
    overflow: auto;
    word-break: break-all;
}
.comment .left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80px;
    min-width: 80px;
    text-align: center;
    font-size: 12px;
}
.user_art {
    border: 0;
    border-collapse: separate;
    border-spacing: 2px;
}
.user_art td {
    padding: 0;
    width:  10px;
    height: 10px;
}
.user_img {
    width:  36px;
    /*height: 10px;*/
}
.comment .center .comment_text {
    user-select: text;
}

.comment_info_pop .popover__content {
    width: 250px;
}

.slot_list_item.selected {
    background-color: rgb(225, 235, 245);
}

.bottom_toolbar_input {
    padding-left: 15;
    flex: 1;
}
.bottom_toolbar_input input {
    width: 100%;
}

.button--danger, .button--danger:active {
    background-color: rgb(251, 70, 62);
}
.button--outline.button--danger {
    background-color: transparent;
    border-color: rgba(251, 70, 62, 0.81);
    color: rgba(251, 70, 62, 0.81);
}
.button--outline.button--danger:active {
    background-color: rgba(251, 70, 62, 0.2);
    border-color: rgba(251, 70, 62, 0.81);
    color: rgba(251, 70, 62, 0.81);
}

.form_p {
    margin: 10px;
}
.form_p label {
    display: flex;
    align-items: center;
}
.form_p .checkbox {
    margin-right: 10px;
}

.account_form {
    text-align: center;
}
.account_form ons-input {
    width: 80%;
}

.right {
    float: right;
}
.left {
    float: left;
}
.content:after {
    display: block;
    content: ' ';
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
